* {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #6e00d9;
  padding: 10px;
  color: #fff;
  text-align: center;
}
main {
  padding: 30px 50px;
}
.card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 15px;
  border-radius: 5px;
}
.lineInput {
  display: grid;
  margin-bottom: 10px;
}
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: 0;
}
button {
  border: 0px;
  padding: 10px;
  outline: 0;
  background-color: blue;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  transition: all ease 0.4s;
}

button:hover {
  background-color: rgb(102, 31, 168);
}

/*
body {
  background: #6e00d9;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
